.m-padded-tb-mini {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.m-padded-tb-massive {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.m-padding {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.m-margin {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

/*-------text-------*/
.m-text {
  font-weight: 300 !important;
  letter-spacing: 1px !important;
  line-height: 1.8 !important;
}


/*------display-------*/
.m-inline-block {
  /*将块状元素改为行内元素*/
  display: inline-block !important;
}

.m-mobile-show {
  /*放在max-width: 768px的上面*/
  display: none !important;
}

@media screen and (max-width: 768px){
  .m-mobile-hide {
    display: none !important;
  }
  .m-mobile-show {
    display: block !important;
  }
}

/*--------color---------*/
.m-black {
  color: #333 !important;
}

/*-----------位置-----------*/
.m-right-top {
  position: absolute;
  top: 0;
  right: 0;
}

/*-----------背景-----------*/
body {
  background: url("../image/bg.png");
}